@import url(
  http://fonts.googleapis.com/css?family=Raleway:100,
  200,
  300,
  400,
  500,
  600,
  700,
  800,
  900
);

html,
body {
  font-family: 'Raleway', sans-serif;
  color: #666666;
  font-size: 16px;
}
a {
  color: #0071bc;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
a:focus {
  outline: none;
  outline-offset: 0;
}
a:hover {
  color: #0071bc;
  text-decoration: none;
}
p {
  color: #545454;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 25px;
  padding-bottom: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p a:hover {
  border-bottom: 1px dotted #0071bc;
}

img {
  max-width: 100%;
  height: auto;
}

.carousel-indicators li {
  border-radius: 0;
}

.carousel-indicators .active {
  background-color: #0071bc;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #262626;
  font-weight: 800;
  text-transform: uppercase;
  margin: 15px 0;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2.125em;
}
h3 {
  font-size: 1.75em;
}
h4 {
  font-size: 1.375em;
}
h5 {
  font-size: 1.125em;
}
h6 {
  font-size: 0.875em;
}

.parallax-style .btn {
  border-color: #ffffff;
  color: #ffffff;
  font-weight: 600;
}
.parallax-style .btn:hover {
  border-color: transparent;
}
.button-container .btn {
  text-align: center;
}

.parallax-style,
.no-parallax-style {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.parallax-style {
  position: relative;
  z-index: 1;
}
.no-parallax-style {
  background-attachment: inherit;
}
.parallax-overlay {
  background-color: rgba(0, 0, 0, 0.3);
}
#top-section {
  background: url(../../images/background/top-section-bg.jpg) 50% 0 no-repeat
    fixed;
  margin: 0 auto;
  padding: 0;
}
.dropcap {
  line-height: 40px;
  display: inline-block;
  font-weight: 800;
  float: left;
  width: 40px;
  height: 40px;
  margin: 8px 10px 0 0;
}
.dropcap.default {
  font-size: 3.4375em;
  color: #262626;
}
.dropcap.box {
  font-size: 2.45em;
  color: #fff;
  background-color: #0071bc;
  text-align: center;
}
.dropcap.round {
  font-size: 2.45em;
  color: #fff;
  background-color: #262626;
  border-radius: 100%;
  text-align: center;
}
.panel-group .panel {
  border-radius: 0;
  border-width: 0px;
  border-color: transparent !important;
}
.panel-default > .panel-heading {
  background-color: transparent;
  min-height: 50px;
  padding: 0;
}
.panel-title {
  text-transform: inherit;
}
.panel-title a {
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 800;
  line-height: 50px;
  display: inline-block;
  padding: 0 15px;
  background-color: #0071bc;
  border: 2px solid #0071bc;
  width: 100%;
  position: relative;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.panel-title a.collapsed {
  background-color: transparent;
  border-color: #f1f2f7;
  color: #262626;
}
.panel-title a.collapsed:hover {
  color: #0071bc;
}
.panel-group .panel-title a:before {
  position: absolute;
  top: 0;
  right: 12px;
  font-family: FontAwesome;
  content: '\f0d7';
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.panel-group .panel-title a.collapsed:before {
  position: absolute;
  top: 0;
  right: 12px;
  font-family: FontAwesome;
  content: '\f0da';
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.panel-body {
  font-size: 0.9375rem;
  line-height: 25px;
  border: 2px solid #f1f2f7;
  border-top-color: transparent;
}
.sec-head-container {
  margin-top: 150px;
  margin-bottom: 120px;
  overflow: hidden;
}
.sec-head-container .sec-head-style {
  position: relative;
  max-width: 1170px;
  display: table;
  margin: auto;
  padding: 0 15px;
}
.sec-head-container .sec-head-style:after {
  content: '';
  height: 140px;
  width: 100%;
  background-color: #0071bc;
  position: absolute;
  top: 0;
  left: -100%;
  margin-left: -15px;
}
.section-title {
  color: #1a1a1a;
  font-size: 4.75em;
  font-weight: 900;
  text-align: right;
  text-transform: uppercase;
  line-height: 0.9em;
  -webkit-text-stroke: 0.3px;
  padding: 0;
  margin: 0;
  float: left;
  width: 300px;
}
.content-title {
  margin-top: 0;
  padding-top: 0;
}
.section-title span {
  color: #0071bc;
}

.section-description {
  color: #404040;
  font-size: 1.375em;
  font-weight: 300;
  line-height: 40px;
  margin: 0;
  margin-left: 360px;
  padding-top: 35px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 0.2px;
}
.parallax-style .subscribe-description {
  color: #ffffff;
}

.owl-controls {
  text-align: center;
  margin-top: 45px;
}
.owl-page {
  background-color: transparent;
  border: 1px solid #0071bc;
  border-radius: 0;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 2px;
}
.owl-page.active {
  background-color: #0071bc;
  border: 1px solid #0071bc;
}
.icon,
.texts {
  display: inline-block;
  height: auto;
}
.alert {
  overflow: hidden;
}
.short-code-title {
  padding-top: 85px;
  padding-bottom: 35px;
}
#shortcodes {
  margin-bottom: 80px;
}
.top-section {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.55);
  padding: 70px 0;
}
.top-headings {
  text-align: center;
}
.top-headings span {
  color: #0071bc;
}
[class^='top-heading-'],
[class*=' top-heading-'] {
  color: #ffffff;
  font-weight: 900;
}
.top-heading-1 {
  font-size: 5em;
  line-height: 80px;
  margin-bottom: 78px;
}
.top-heading-2 {
  font-size: 3.4375em;
  line-height: 60px;
}
.top-heading-3 {
  font-size: 2.8125em;
  line-height: 60px;
}
.button-container,
.top-carousel-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  padding-bottom: 75px;
  margin-bottom: 15px;
}
.top-carousel-container .slide-nav {
  color: #ffffff;
  font-size: 1.5625em;
  background: rgba(16, 16, 161, 0.6);
  display: inline-block;
  line-height: 100px;
  text-align: center;
  width: 60px;
  height: 100px;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  opacity: 0.6;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.top-carousel-container .slide-nav.left {
  left: -60px;
  border-radius: 0 3px 3px 0;
}
.top-carousel-container .slide-nav.right {
  right: -60px;
  border-radius: 3px 0 0 3px;
}
.top-carousel-container .slide-nav:hover {
  background: #0071bc;
  opacity: 1;
}
.top-carousel-container:hover .slide-nav.left {
  left: 0px;
}
.top-carousel-container:hover .slide-nav.right {
  right: 0px;
}
.top-carousel-container .carousel-indicators {
  bottom: 0px;
}
.main-menu-continer {
  min-height: 80px;
}
#main-menu h1 {
  margin: 0;
}
.navbar {
  min-height: 80px;
  border: none;
  margin-bottom: 0;
}
.navbar-default {
  background: #ffffff;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  border-color: #ffffff;
  border-radius: 0;
  clear: both;
}
.navbar-brand {
  height: 80px;
  font-size: 2rem;
  font-weight: 900;
  padding: 0 15px;
  line-height: 80px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 0.2px;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #000000;
  text-transform: uppercase;
}
.navbar-default .navbar-brand span {
  color: #0071bc;
}
.navbar-nav > li {
  position: relative;
}
.navbar-nav > li > a {
  font-size: 0.9375em;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}
.navbar-nav > li > a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 15px;
  right: 15px;
  height: 0px;
  background: transparent;
}
.navbar-nav > li > a:hover:after {
  height: 4px;
  background: #0071bc;
}
.navbar-nav > li.menu-item-has-children > a:after {
  height: 0 !important;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #0071bc;
  background: transparent;
}
.navbar-default .navbar-nav > li > a {
  color: #262626;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-nav > li.menu-item-has-children:hover:before {
  color: #0071bc;
}
.navbar-nav > li .sub-menu,
.navbar-nav > li .sub-menu > li > a,
.navbar-nav > li .sub-menu > li .sub-menu,
.navbar-nav > li > a:after {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.navbar-nav > li.menu-item-has-children {
  padding-right: 15px;
}
.navbar-nav > li.menu-item-has-children:before,
.sub-menu > li.menu-item-has-children:before {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 15px;
  font-family: FontAwesome;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navbar-nav > li.menu-item-has-children:before {
  content: '\f0d7';
  color: #262626;
}
.sub-menu > li.menu-item-has-children:before {
  content: '\f0da';
  color: #ffffff;
}
.sub-menu > li.menu-item-has-children:hover:before {
  color: #262626;
}
.navbar-nav > li .sub-menu {
  position: absolute;
  list-style: none;
  padding: 0;
  top: 130%;
  left: 0;
  min-width: 160px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  z-index: 999;
}
.navbar-nav > li:hover .sub-menu {
  height: auto;
  opacity: 1;
  overflow: visible;
  top: 100%;
}
.navbar-nav > li .sub-menu > li > a {
  background: rgba(16, 16, 161, 0.9);
  color: #ffffff;
  font-weight: 600;
  font-size: 0.9375em;
  display: inline-block;
  min-width: 100%;
  line-height: 25px;
  padding: 15px;
}
.navbar-nav > li .sub-menu > li > a:hover {
  background: rgba(16, 16, 161, 1);
  color: #262626;
}
.navbar-nav > li .sub-menu > li {
  position: relative;
}
.navbar-nav > li .sub-menu > li .sub-menu {
  position: absolute;
  list-style: none;
  padding: 0;
  top: 0;
  left: 130%;
  width: 0;
  height: auto;
  opacity: 0;
}
.navbar-nav > li .sub-menu > li:hover .sub-menu {
  opacity: 1;
  overflow: visible;
  width: 160px;
  left: 100%;
}
.toggle_nav_button {
  display: none;
}

.about-us-section {
  padding-bottom: 70px;
}
.over-view {
  padding: 40px 0;
}
.over-view-circle {
  background-color: #ffffff;
  text-align: center;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 5px solid #d4d4d4;
  margin: 20px auto;
}
.over-view-circle .value {
  color: #0071bc;
  font-size: 4.6875em;
  font-weight: 800;
  line-height: 90px;
  display: inline-block;
  width: 100%;
  padding-top: 30px;
}
.over-view-circle .cat-name {
  font-size: 1.125em;
  font-weight: 700;
  text-transform: uppercase;
}

/* 19.2 - Contact Details
--------------------------------------------- */
.contact-details {
  text-align: center;
  padding: 40px 0;
}
.contact-details .title {
  padding-top: 20px;
}
.contact-details .contact-info-box {
  margin-bottom: 40px;
}
.contact-info {
  padding-top: 40px;
}
.contact-details .icon {
  font-size: 2.25em;
  color: #ffffff;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  line-height: 105px;
  position: relative;
  z-index: 0;
}
.contact-details .icon,
.contact-info-box .icon:after,
.contact-details .icon i {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.contact-info-box .icon:after {
  content: '';
  top: -4%;
  left: -4%;
  position: absolute;
  z-index: -1;
  box-shadow: 3px 3px transparent;
  width: 107%;
  height: 107%;
  border-radius: 50%;
  padding: 15px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.contact-info-box:hover .icon:after {
  box-shadow: 3px 3px #0071bc;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.contact-info-box:hover .map-marker:after {
  box-shadow: 3px 3px #0071bc;
}
.contact-info-box:hover .envelope:after {
  box-shadow: 3px 3px #e12444;
}
.contact-info-box:hover .phone:after {
  box-shadow: 3px 3px #e0c124;
}
.contact-info-box:hover .skype:after {
  box-shadow: 3px 3px #1fb538;
}

.contact-details-title {
  font-size: 1.2em;
  font-weight: 800;
  padding-top: 15px;
}
.contact-details .texts {
  font-size: 0.95em;
}
.contact-details a {
  color: #545454;
}
.map-marker {
  background-color: #0071bc;
}
.envelope {
  background-color: #e12444;
}
.phone {
  background-color: #e0c124;
}
.skype {
  background-color: #1fb538;
}

.error {
  display: none;
  padding: 10px;
  margin: 0 0 5px 0;
  color: #d8000c;
  font-size: 12px;
  background-color: #ffbaba;
}
.success {
  display: none;
  padding: 10px;
  color: #044406;
  font-size: 12px;
  background-color: #b7fbb9;
}
.error img,
.success img {
  margin-right: 10px;
}
